<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myuniversity3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/login_mark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkp6roFMDXxdMFO5Al9sOIqUln_ChFp-U"/>
        <activity android:name=".ExternalFacility.ExternalInfomap"/>
        <activity android:name=".InnerReservation.StInnerActivity" />
        <activity android:name=".ExternalFacility.StExternalActivity" />
        <activity android:name=".BusinessPage.BusAlterActivity" />
        <activity android:name=".StudnetPage.StMainActivity" />
        <activity
            android:name=".example"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BusinessPage.BusinessActivity" />
        <activity android:name=".Login_Join.BusJoinActivity" />
        <activity android:name=".Login_Join.StJoinActivity" />
        <activity android:name=".Login_Join.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>